<div class="">
    <div id="isotope-load">
        <div class="ux-loading"></div>
        <div class="ux-loading-transform">
            <div class="loading-dot1">&nbsp;</div>
            <div class="loading-dot2">&nbsp;</div>
        </div>
    </div>
    <div class="isotope row" data-size="width-col-5">
        <div class="port-pad filter_design filter_studio isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/1.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/1.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_landscape filter_photography-2 isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/2.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/2.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_studio filter_landscape isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/3.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/3.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_landscape filter_photography-2 isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/5.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/5.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_studio filter_landscape isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/6.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/6.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_design filter_landscape isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/7.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/7.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_design filter_studio isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/1.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/1.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_landscape filter_photography-2 isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/2.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/2.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_studio filter_landscape isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/3.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/3.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_design filter_studio isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/4.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/4.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_landscape filter_photography-2 isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/5.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/5.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_studio filter_landscape isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/6.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/6.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_design filter_landscape isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/7.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/7.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_design filter_studio isotope-item">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/1.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/1.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>
        <!--End isotope-item-->
        <div class="port-pad filter_design filter_studio isotope-item ">
            <div class="bot-60">
                <div class="blog-item-wrap">
                    <figure>
                        <div class="owl-img-wrapper owl-img-zoom2">
                            <img alt="" src="img/4.jpg" class="img-responsive">
                            <div class="owl-img-overlay"></div>
                            <div class="Button owl-img-pops-effect3"> <span class="owl-img-pops"><a href="img/4.jpg" class="fancybox"><i class="fa fa-search"></i></a> </span> <span class="owl-img-pops"><a href=""><i class="fa fa-link"></i></a> </span> </div>
                        </div>
                    </figure>


                    <section class="post-content">
                        <h3><a href="#">Qui ad definionem</a></h3>
                        <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu [...]</p>
                        <div class="post-btn-wrapper"><a href="#" class="post-btn">read more &gt;</a></div>
                    </section>
                </div>
            </div>

        </div>




    </div>

</div>
<!--End container-isotope-->

